.footer{
    background-color: black;
    color:#737373;
    padding: 35px 0px 15px;
    font-size:15px;
    list-style: none;
}
.footer .links a{
    color: #737373;
}
.social-media a{
    color: #737373;
}
.footer a:hover{
    color: white;
}

.footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer h5{
    color: white;
    font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}
.footer .social-media {
    list-style: none;
}
